<div class="bulletin-container" *ngFor="let item of listNotice">
    <!-- bullrtin container -->
    <!-- article->sections->divs -->
    <div class="bulletin">
        <div class="bulletin-head">
            <img class="avatar" src="../../../../../assets/avatar-1.png"><br><br>
            <strong>Profile 1</strong>
            <br>
            <small class="bulletin-head-details">Publicado: Hace {{item.date}} min</small>
        </div>
        <div class="bulletin-body">
            <section>
                <p>{{item.body}}</p>
            </section>
        </div>
        <div class="bulletin-image">
            <img src="./../../../../../assets/news.jpg" alt="">
        </div>
        <div class="bulletin-footer">
            <p>Digital Harbor Bolivia</p>
        </div>
    </div>
    <!-- <div class="bulletin">
        sadassssssssssssss
    </div> -->
</div>