.bulletin-new-container {
  justify-content: start;
  display: flex;
  flex-flow: row wrap;
}

.bulletin-new-content {
  background: $colors-dark-secondary;
  display: flex;
  border-radius: 15px;
  width: 460px;
  overflow: hidden;
  position: sticky;
  flex-flow: column nowrap;
  justify-content: center;
}

.bulletin-new-container-dark {
  background: $colors-dark-secondary;
}

.bulletin-new-head-content {
  display: flex;
  flex-flow: row nowrap;
}

.bulletin-new-avatar-profile {
  width: 80px;
  border-radius: 50%;
  object-position: center;
  object-fit: fill;
  flex-flow: column nowrap;
}

.body-card-bulletin {
  flex-flow: column nowrap;
  justify-content: end;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bulletin-new-detail {
  padding: 0px;
  flex-flow: column;
}

.bulletin-new-profile-text-user {
  color: $colors-dark-text;
}

.bulletin-new-image img {
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  height: 250px;
}

.bulletin-new-footer {
  display: flex;
}

.bulletin-new-badge {
  background: $colors-dark-text-border;
  border-radius: 100%;
  font-weight: bold;
  border: 1px solid $colors-dark-text;
  padding: 2px;
}

.line {
  border-bottom: solid 1px $colors-dark-text;
  width: 100%;
}

.bulletin-new-footer-buttons {
  min-width: 130px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  z-index: 0;
  background: $colors-dark-secondary;
  overflow: hidden;
  border: 1px solid $colors-dark-text;
  color: $colors-dark-text;
}

.bulletin-new-footer-buttons:hover {
  color: #fff;
}

.bulletin-new-footer-buttons:hover:after {
  height: 100%;
}

.bulletin-new-footer-buttons:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: $colors-dark-text-border;
}

.text-justify {
  text-align: justify;
}
