.user-login-container{
  display: flex;
  flex-flow: column nowrap;
}
.user-login-form-register {
  width: 400px;
  background: $colors-dark-secondary;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.user-login-form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.user-login-controls {
  width: 100%;
  background: $colors-dark-text-border;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid $colors-dark-text-border;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.user-login-form-register .user-login-buttons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
