$colors-dark-primary: rgb(24, 25, 26, 1);
$colors-dark-secondary: rgb(36, 37, 38, 1);
$colors-dark-text: rgb(208, 210, 214, 1);
$colors-dark-text-border: rgb(58, 59, 60, 1);
.content-users{
  display: flex;
  flex-direction: column;
}
.list-users{
  background: #3cc93f;
}
.options{
  background: $colors-dark-secondary;
}

.styled-table {
  background: $colors-dark-secondary;;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  color: white;
  //width: 100%;
}

th, td {
  padding: 20px;
}

thead {
  background: $colors-dark-secondary;
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr:nth-child(even) {
  background: $colors-dark-secondary;;
}

tr:hover td {
  background: rgb(58, 59, 60, 1);;
  color: white;
}
.form-register {
  width: 400px;
  background: #24303c;
  padding: 0px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.labels{
  color: $colors-dark-text;
}
.controls {
  width: 200px;
  height: 25px;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid $colors-dark-text-border;
  font-family: 'calibri';
  font-size: 18px;
  color: $colors-dark-text;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form-user{
  display: flex;
  background: $colors-dark-secondary
}
.form-data-user{
  height: 5px;
  display: flex;
  height: auto;
  flex-direction: column;
  flex-flow: row wrap;
}
/*

!* Formulario *!
form {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

input {
  border: 2;
  outline: none;
  width: 280px;
}

.field {
  border: solid 1px #ccc;
  padding: 10px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.field:focus {
  border-color: #18a383;
}

.center-content {
  text-align: center;
}
*/
