<div id="list-users">
  <div id="title-users">
    <a class="btn btn-green" *ngIf="!isNewUser" (click)="newUser()">New User</a>
    <a class="btn btn-red" *ngIf="isNewUser" (click)="cancelNewUser()">Cancel</a>
  </div>
  <table *ngIf="!isNewUser">
    <thead>
      <tr>
        <th>Id</th>
        <th>Account ID</th>
        <th>First Name</th>
        <th>Last name</th>
        <th>Created Date</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tr *ngFor="let item of listUsers">
      <td>{{item.id}}</td>
      <td>{{item.accountid}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.createdDate}}</td>
      <td>{{item.deleted}}</td>
      <td><button (click)="editData(item)">Edit</button> <button (click)="deleteData(item.id)">Delete</button></td>
    </tr>
  </table>
  <div id="list-users" *ngIf="isNewUser || isUpdateUser">
    <form #myForm="ngForm">
      <input type="hidden" name="idUpdate" id="idUpdate" [(ngModel)]="idUpdate" autocomplete="off">
      <p>AccountID:</p>
      <input type="text" class="field" name="accountid" id="accountid" autocomplete="off" [(ngModel)]="user.accountid">
      <p>First Name:</p>
      <input type="text" class="field" name="firstName" id="firstName" autocomplete="off" [(ngModel)]="user.firstName">
      <p>Last Name:</p>
      <input type="text" class="field" name="lastName" id="lastName" autocomplete="off" [(ngModel)]="user.lastName">
      <p>Date:</p>
      <input type="date" class="field" name="createdDate" id="createdDate" [(ngModel)]="user.createdDate"><br><br>
      <p class="center-content">
        <button class="btn btn-green" (click)="saveNewUser()" *ngIf="isNewUser && !isUpdateUser">Submit</button>
        <!-- <button class="btn btn-green" type="submit" [disabled]="myForm.form.invalid" *ngIf="isNewUser && !isUpdateUser">Submit</button> -->
        <button class="btn btn-green" (click)="saveEditData()" *ngIf="isUpdateUser">Save</button>
      </p>
    </form>
  </div>
</div>