<div class="users-container">
  <section class="users-options">
    <button class="btn-redirection"
            (click)="bulletin()">Bulletin
    </button>
    <button class="btn-add-new-user"
            *ngIf="!isNewUser"
            (click)="newUser()">New User
    </button>
    <button class="btn-add-cancel-user"
            *ngIf="isNewUser"
            (click)="cancelNewUser()">Cancel
    </button>
  </section>

  <table class="users-table"
         *ngIf="!isNewUser">
    <thead class="users-table-head">
    <tr>
      <th class="users-table-content">Id</th>
      <th class="users-table-content">Account ID</th>
      <th class="users-table-content">First Name</th>
      <th class="users-table-content">Last name</th>
      <th class="users-table-content">Created Date</th>
      <th class="users-table-content">Status</th>
      <th class="users-table-content">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listUsers">
      <td class="users-table-content">{{item.id}}</td>
      <td class="users-table-content">{{item.accountId}}</td>
      <td class="users-table-content">{{item.firstName}}</td>
      <td class="users-table-content">{{item.lastName}}</td>
      <td class="users-table-content">{{item.createdDate | date:'yyyy/MM/dd'}}</td>
      <td class="users-table-content">{{item.deleted}}</td>
      <td class="users-table-content">
        <button class="btn-add-new-user"
                (click)="editData(item)">Edit
        </button>
        <button class="btn-add-cancel-user"
                (click)="deleteData(item.id)">Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <form #myForm="ngForm"
        class="users-form-data"
        *ngIf="isNewUser || isUpdateUser">
    <input type="hidden"
           name="idUpdate"
           id="idUpdate"
           [(ngModel)]="idUpdate"
           autocomplete="off">

    <p class="labels">AccountID:</p>
    <input type="number"
           class="controls"
           name="accountid"
           id="accountid"
           autocomplete="off"
           [(ngModel)]="user.accountId">

    <p class="labels">First Name:</p>
    <input type="text"
           class="controls"
           name="firstName"
           id="firstName"
           autocomplete="off"
           [(ngModel)]="user.firstName">

    <p class="labels">Last Name:</p>
    <input type="text"
           class="controls"
           name="lastName"
           id="lastName"
           autocomplete="off"
           [(ngModel)]="user.lastName">

    <p class="labels">Date:</p>
    <input type="date"
           class="controls"
           name="createdDate"
           id="createdDate"
           [(ngModel)]="user.createdDate"><br><br>
    <p class="labels">
      <button class="btn-add-new-user"
              (click)="saveNewUser()"
              *ngIf="isNewUser && !isUpdateUser">Submit
      </button>
      <button class="btn-add-new-user"
              (click)="saveEditData()"
              *ngIf="isUpdateUser">Save
      </button>
    </p>
  </form>
</div>
